body {
  font-family: "Courier Prime", monospace;
  background: rgb(24, 23, 23);
  color: #fff;
}

.main-block {
  display: flex;
  justify-content: center;
}

.right-block {
  display: grid;
  margin-top: 50px;
  grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr; */
  grid-gap: 5px;
   padding-left: 0;
}

.left-block {
  margin-top: 47px;
  padding-right: 30px;
  padding-left: 30px;
}

.text {
  width: 250px;
  margin-top: 10px;
}

.text:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.photo {
  width: 150px;
  height: 150px;
}

.photo:hover {
  transform: scale(1.1);
}
